extends ../layout
block stylesheet
  link(rel='stylesheet', href='/stylesheets/super-admin/supplier/external.css')
block content
  .content__inner
    header.content__title
      h1 EXTERNAL SUPPLIERS
      .actions
        .dropdown.actions__item
          i.zmdi.zmdi-more-vert(data-toggle='dropdown')
          .dropdown-menu.dropdown-menu-right
            a.dropdown-item(href='/admin/supplier/external_list') Panel View
            a.dropdown-item(href='/admin/supplier/external_list_table') List VIew    
    .contacts.row
      - for (var i = 0; i < profile.length; i++) {
        .col-xl-2.col-lg-3.col-sm-4.col-6
          .contacts__item
            a.contacts__img(href='/admin/supplier/external/profile/#{ profile[i]._id }/about')
              img(src='/uploads/supplier/profile/#{ profile[i].profileimagename }', alt='')
            .contacts__info
              strong #{ profile[i].name }
              small #{ profile[i].email }
              .widget-ratings__star               
                i(class='zmdi zmdi-star #{ Number(profile[i].rating) >= 1 ? "active": "inactive"}')
                i(class='zmdi zmdi-star #{ Number(profile[i].rating) >= 2 ? "active": "inactive"}')
                i(class='zmdi zmdi-star #{ Number(profile[i].rating) >= 3 ? "active": "inactive"}')
                i(class='zmdi zmdi-star #{ Number(profile[i].rating) >= 4 ? "active": "inactive"}')
                i(class='zmdi zmdi-star #{ Number(profile[i].rating) > 4.5 ? "active": "inactive"}')
            button.contacts__btn Read More...
      - }        
block script
  script.
    $(document).ready(function(){      
      $('.navigation_supplier_nav').addClass('navigation__active');
      $('.navigation_supplier_external').addClass('navigation__active');
      $('.navigation_supplier_nav > a').click();
    })