extends ../layout
block stylesheet
  link(rel='stylesheet', href='/stylesheets/super-admin/admin.css')
  link(rel='stylesheet', href='/stylesheets/super-admin/supplier/external.css')
  link(rel="stylesheet", href="/admin-template/vendors/bower_components/lightgallery/dist/css/lightgallery.min.css")  
block content
  .content__inner.content__inner--sm
    header.content__title
      .actions
        a(href="/admin/supplier/external_list", class="actions__item zmdi zmdi-long-arrow-return zmdi-hc-fw")
        .dropdown.actions__item        
          i.zmdi.zmdi-more-vert(data-toggle='dropdown')
          .dropdown-menu.dropdown-menu-right
            a.dropdown-item(href='/admin/supplier/external/delete/#{_id}') Delete
            a.dropdown-item(href='') Edit
    .card.profile
      .profile__img
        img(src='/uploads/supplier/profile/#{ profile.profileimagename || "empty.jpg" }', alt='')
      .profile__info
        h3
          | #{profile.firstname + ' ' + profile.lastname}
        ul.icon-list
          li
            i.zmdi.zmdi-phone
            |  #{profile.phone1}
          li
            i.zmdi.zmdi-email
            |  #{profile.email}
    .toolbar
      nav.toolbar__nav
        a(href='/admin/supplier/external/profile/#{ _id }/about').active About
        a Document
        a(href='/admin/supplier/external/profile/#{ _id }/location') Service Area
        a(href='/admin/supplier/external/#{ _id }/portal') Portal
        a(href='/admin/supplier/external/profile/#{ _id }/workdiary') History
    .card
      .card-body
        .row.lightbox.photos
          - for(var i = 0; i < tool_image.length; i++){
            a.col-md-2(href='/uploads/supplier/tool_image/#{tool_image[i].name}')
              .lightbox__item.photos__item
                img(src='/uploads/supplier/tool_image/#{tool_image[i].name}', alt='')
          - }
          -if(document != undefined){
        .row(style='margin-top: 30px; margin-left: 0px;')
          a(href='/uploads/supplier/document/#{document}', target='_blank', style='margin:auto;') Document
          - } 
        

block script
  script(src='/admin-template/vendors/bower_components/autosize/dist/autosize.min.js')  
  script(src='/admin-template/vendors/bower_components/lightgallery/dist/js/lightgallery-all.min.js')
  script.
    $(document).ready(function(){      
      $('.navigation_supplier_nav').addClass('navigation__active');
      $('.navigation_supplier_external').addClass('navigation__active');
      $('.navigation_supplier_nav > a').click();
    })

    $(document).ready(function() {
        $(".photos").lightGallery(); 
    });
